.product-sunglasses{
    position: relative;
    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 8px;
        background-color: $c-secondary;
        top: 100%;
        left: 0;
        transform: translateY(-100%)
    }
}
// banner-product
.banner-product-page3, 
.banner-product-page4{
    width: 50%;
    height: 296px;
}
.banner-product-page3{
    background-image: url(/assets/images/product-header-3.png);
    @include pad{
        background-image: url(/assets/images/product-header-sm-3.png);
    }
}
.banner-product-page4{
    background-image: url(/assets/images/product-header-4.png);
    @include pad{
        background-image: url(/assets/images/product-header-sm-4.png);
    }
}